/* Start Style About */

section.about {
  background-image: url("./../../img/header-bg.jpg");
  height: 600px;
  background-size: cover;
  color: #fff;
  margin-top: -50px;
}

section.about .about_content {
  max-width: 60%;
  padding-top: 200px;
}

section.about .about_content h4 {
  font-weight: 400;
  letter-spacing: 3px;
}

section.about .about_content h2 {
  text-transform: capitalize;
  font-size: 60px;
  font-weight: 700;
  margin-top: 20px;
}

section.about .about_content button {
  background-color: var(--main-color);
  border: 1px solid transparent;
  color: #fff;
  padding: 8px 20px;
  border-radius: 20px;
  transition: background-color 0.5s;
}

section.about .about_content button:hover {
  background-color: transparent;
  border-color: #fff;
}
/* End Style About */
